/* Custom stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background: #C0C0C0;
}

.speech-bubble {
    position: relative;
    background: #191919;
    border-radius: .4em;
    padding: 30px 30px 15px 30px;
    width: 300px;
    -webkit-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
 }
 
 .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #191919;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.temp-box {
    padding: 30px 30px 30px 30px;
    overflow-y: scroll;
    height: 300px;
    background-color: #191919;
    -webkit-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
}

.character {
    position: absolute;
    margin-left: -60px;
    margin-top: -40px;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

.challenge-text {
    text-shadow: 1px 3px 6px rgba(0,0,0,0.75);
    margin-top: -60px;
    margin-bottom: 20px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
         animation: fadein 2s;
}

.challenge-button {
    margin-top: 5px;
}

.character-error {
    position: absolute;
    font-size: small;
    margin-top: -10px;
    width: 290px;
    text-align: right;
    color: #CF212A;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
     -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
         animation: fadein 1s;
}

.character-progress {
    color: #757572;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
     -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
         animation: fadein 1s;
}

#login-unlock {
    padding: 30px 30px 30px 30px;
    width: 305px;
    height: 100px;
    background-color: #191919;
    -webkit-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
     -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
         animation: fadein 1s;
}

#login {
    padding: 30px 30px 30px 30px;
    width: 305px;
    height: 200px;
    background-color: #191919;
    -webkit-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 32px -4px rgba(0,0,0,0.75);
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
     -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
         animation: fadein 1s;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Ribbons */
.cr {
    width: 200px;
    padding: 16px;
    position: absolute;
    text-align: center;
    color: #f0f0f0;
}

.cr-sticky {
    position: fixed;
}

/* Ribbons Positions */
.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -50px; }

/* Ribbons Rotations */
.cr-top.cr-left,
.cr-bottom.cr-right {
    transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
    transform: rotate(45deg);
}
  
/* Ribbons Colors */
.cr-red       { background-color: #e43; }
  

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    background-image: url('../images/background.png');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
    background-image: url('../images/separator.png');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    margin-top: -10px;
}
.value-heading {
    margin-bottom: .5rem;
    color: #CF212A;
}
.value-description {
    margin-bottom: .3rem;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    background-image: url('../images/separator-footer.png');
    margin-top: -10px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
    .hero {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .hero {
        height: 190px;
    }
    .hero-heading {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .hero {
        padding: 16rem 0 14rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .hero {
        padding: 22rem 0;
    }
}


/* Buttons (override)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    color: #FFF;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #CF212A;
    border-color: #CF212A;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #A91B22;
    border-color: #A91B22;
}

/* Forms (style for challenge form)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: #191919;
    border: 0px;
    border-bottom: 1px solid #D1D1D1;
    border-radius: 0px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 0px;
    border-bottom: 1px solid #CF212A;
}

/* Links (override)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #A91B22;
}
a:hover {
    color: #CF212A;
}