<!-- Challenge form
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <div class="challenge-text">
                    <div class="speech-bubble"><h3><b>{{ opponent.name }}</b><br>challenged you!</h3></div>
                </div>
                <img class="character" src="images/character.png">
            </div>
            <div class="one-half column">
                <div id="login">
                    <div class="form">
                        <div class="character-progress" ng-show="loading">
                            <div class="row" ng-repeat="line in progress">{{ line }}</div>
                        </div>
                        <form autocomplete="off" ng-show="!loading">
                            <div class="row">
                                <input class="u-full-width submit-error" type="text" placeholder="Creed's name" ng-model="fighter.name" ng-keyup="validate(fighter)">
                                <div class="character-error" ng-show="!name.ok">{{ name.message }}</div>
                            </div>
                            <div class="row">
                                <input class="u-full-width" type="password" placeholder="Password" ng-model="fighter.password" ng-keyup="validate(fighter)">
                                <div class="character-error" ng-show="!password.ok">{{ password.message }}</div>
                            </div>
                            <div class="row">
                                <input class="u-full-width" type="password" placeholder="Repeat password" ng-model="fighter.passwordAgain" ng-keyup="validate(fighter)">
                            </div>
                            <div class="challenge-button"><input class="button-primary u-full-width" type="submit" ng-click="acceptChallenge(fighter, opponent)" value="Accept challenge"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- What is Creeds?
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section values">
    <div class="container">
        <div class="row">
            <div class="one-half column value">
                <h2 class="value-heading">What is Creeds?</h2>
                <h5 class="value-description">A fun fast-battles game, that only takes about 5 minutes a day of your time</h5><br>
                <input class="button" type="submit" value="Read more">
            </div>
            <div class="one-half column value">
                <img class="u-max-full-width" src="images/placeholder.png">
            </div>
        </div>
    </div>
</div>