<!-- Mobile menu
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="creeds-mobile-menu">
    <i class="fa fa-bars"></i>
</div>

<!-- Fight form
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="creeds-login-box">
    <h1 class="creeds-login-box__title">Creeds!</h1>
    <div class="creeds-login-box__form">
        <!-- This is for debugging, will be replaced -->
        <div ng-show="loading">
            <div class="row" ng-repeat="line in progress">{{ line }}</div>
        </div>
        <form autocomplete="off" ng-show="!loading">
            <input id="username" style="display:none" type="text" name="fakeinput">
            <input id="password" style="display:none" type="password" name="fakepassword">
            <div class="row">
                <input class="u-full-width submit-error" type="text" placeholder="Creed's name" ng-model="fighter.name" ng-keyup="validate(fighter)" autocomplete="nope">
                <div class="creeds-login-box__error" ng-show="!name.ok">{{ name.message }}</div>
            </div>
            <div class="row">
                <input class="u-full-width" type="password" placeholder="Password" ng-model="fighter.password" ng-keyup="validate(fighter)" autocomplete="new-password">
                <div class="creeds-login-box__error" ng-show="!password.ok">{{ password.message }}</div>
            </div>
            <div class="row">
                <input class="u-full-width" type="password" placeholder="Repeat password" ng-model="fighter.passwordAgain" ng-keyup="validate(fighter)" autocomplete="new-password">
            </div>
            <input class="button-primary u-full-width" style="font-size: 15px;" type="submit" ng-click="acceptChallenge(fighter, opponent)" value="Lets fight">
            <div class="u-center"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i> I've been here before</div>
        </form>
    </div>
</div>